<!DOCTYPE html>
<html>
<head lang="en">

    <title>Spring Framework Guru</title>

    <th:block th:include="fragments/header :: head"></th:block>
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/nav :: nav"></th:block> /*/-->

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <!--<div th:if="${param.logout}">-->
        <!--You have been logged out.-->
    <!--</div>-->
    <!--<form th:action="@{/login}" method="post">-->
        <!--<div><label> User Name : <input type="text" name="username"/> </label></div>-->
        <!--<div><label> Password: <input type="password" name="password"/> </label></div>-->
        <!--<div><input type="submit" value="Sign In"/></div>-->
    <!--</form>-->

    <form role="form" th:action="@{/login}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div>
            <label for="email">Email address</label>
            <input type="email" name="email" id="email"  />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>
        <div>
            <label for="remember-me">Remember me</label>
            <input type="checkbox" name="remember-me" id="remember-me"/>
        </div>
        <button type="submit">Sign in</button>
    </form>

    <!--<#if error.isPresent()>-->
        <!--<p>The email or password you have entered is invalid, try again.</p>-->
    <!--</#if>-->

</div>
</body>
</html>